In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [2]:
# Load Participant_Status table
cleaned_df = pd.read_csv('/home/mrudula/MLPOPS/final_cleaned.csv')

In [3]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32938 entries, 0 to 32937
Data columns (total 95 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Participant_ID  32938 non-null  int64
 1   COHORT          32938 non-null  int64
 2   ENROLL_DATE     32938 non-null  object
 3   ENROLL_AGE      32938 non-null  float64
 4   ENRLPRKN        19396 non-null  float64
 5   ENRLSRDC        19396 non-null  float64
 6   ENRLHPSM        32938 non-null  int64
 7   ENRLRBD         32938 non-null  int64
 8   ENRLSNCA        32938 non-null  int64
 9   ENRLGBA         32938 non-null  int64
 10  SEX             32938 non-null  int64
 11  CHLDBEAR        13147 non-null  float64
 12  SAAMethod       23158 non-null  object
 13  SAA_Status      23158 non-null  object
 14  SAA_Type        2565 non-null   object
 15  InstrumentRep1  23158 non-null  float64
 16  PATNO           32936 non-null  float64
 17  NUPSOURC        32931 non-null  float64
 18  NP1COG          32932 non-null  float64
 19  NP1HALL         32932 non-null  float64
 20  NP1DPRS         32932 non-null  float64
 21  NP1ANXS         32932 non-null  float64
 22  NP1APAT         32932 non-null  float64
 23  NP1DDS          32932 non-null  float64
 24  NP1SLPN         32905 non-null  float64
 25  NP1SLPD         32905 non-null  float64
 26  NP1PAIN         32932 non-null  float64
 27  NP1URIN         32932 non-null  float64
 28  NP1CNST         32932 non-null  float64
 29  NP1LTHD         32932 non-null  float64
 30  NP1FATG         32932 non-null  float64
 31  NP2SPCH         32932 non-null  float64
 32  NP2SALV         32931 non-null  float64
 33  NP2SWAL         32931 non-null  float64
 34  NP2EAT          32931 non-null  float64
 35  NP2DRES         32931 non-null  float64
 36  NP2HYGN         32913 non-null  float64
 37  NP2HWRT         32913 non-null  float64
 38  NP2HOBB         32913 non-null  float64
 39  NP2TURN         32931 non-null  float64
 40  NP2TRMR         32931 non-null  float64
 41  NP2RISE         32931 non-null  float64
 42  NP2WALK         32931 non-null  float64
 43  NP2FREZ         32931 non-null  float64
 44  NP3SPCH         32912 non-null  float64
 45  NP3FACXP        32912 non-null  float64
 46  NP3RIGN         32912 non-null  float64
 47  NP3RIGRU        32912 non-null  float64
 48  NP3RIGLU        32912 non-null  float64
 49  NP3RIGRL        32896 non-null  float64
 50  NP3RIGLL        32896 non-null  float64
 51  NP3FTAPR        32912 non-null  float64
 52  NP3FTAPL        32911 non-null  float64
 53  NP3HMOVR        32912 non-null  float64
 54  NP3HMOVL        32903 non-null  float64
 55  NP3PRSPR        32912 non-null  float64
 56  NP3PRSPL        32903 non-null  float64
 57  NP3TTAPR        32904 non-null  float64
 58  NP3TTAPL        32912 non-null  float64
 59  NP3LGAGR        32912 non-null  float64
 60  NP3LGAGL        32912 non-null  float64
 61  NP3RISNG        32900 non-null  float64
 62  NP3GAIT         32900 non-null  float64
 63  NP3FRZGT        32912 non-null  float64
 64  NP3PSTBL        32896 non-null  float64
 65  NP3POSTR        32885 non-null  float64
 66  NP3BRADY        32885 non-null  float64
 67  NP3PTRMR        32885 non-null  float64
 68  NP3PTRML        32884 non-null  float64
 69  NP3KTRMR        32885 non-null  float64
 70  NP3KTRML        32885 non-null  float64
 71  NP3RTARU        32885 non-null  float64
 72  NP3RTALU        32885 non-null  float64
 73  NP3RTARL        32885 non-null  float64
 74  NP3RTALL        32885 non-null  float64
 75  NP3RTALJ        32885 non-null  float64
 76  NP3RTCON        32885 non-null  float64
 77  DYSKPRES        32884 non-null  float64
 78  DYSKIRAT        1467 non-null   float64
 79  NHY             32885 non-null  float64
 80  NP4WDYSK        6313 non-null   float64
 81  NP4WDYSKDEN     6 non-null      float64
 82  NP4WDYSKNUM     6 non-null      float64
 83  NP4WDYSKPCT     6 non-null      float64
 84  NP4DYSKI        6313 non-null   float64
 85  NP4OFF          6313 non-null   float64
 86  NP4OFFDEN       6 non-null      float64
 87  NP4OFFNUM       6 non-null      float64
 88  NP4OFFPCT       6 non-null      float64
 89  NP4FLCTI        6313 non-null   float64
 90  NP4FLCTX        6313 non-null   float64
 91  NP4DYSTN        6313 non-null   float64
 92  NP4DYSTNDEN     6 non-null      float64
 93  NP4DYSTNNUM     6 non-null      float64
 94  NP4DYSTNPCT     2 non-null      float64
dtypes: float64(84), int64(7), object(4)
memory usage: 23.9+ MB

In [4]:
cleaned_df.drop(columns=['PATNO'],inplace=True)

In [5]:
cleaned_df.describe()

,Participant_ID,COHORT,ENROLL_AGE,ENRLPRKN,ENRLSRDC,ENRLHPSM,ENRLRBD,ENRLSNCA,ENRLGBA,SEX,...,NP4OFF,NP4OFFDEN,NP4OFFNUM,NP4OFFPCT,NP4FLCTI,NP4FLCTX,NP4DYSTN,NP4DYSTNDEN,NP4DYSTNNUM,NP4DYSTNPCT
count,32938.000000,32938.000000,32938.000000,19396.000000,19396.000000,32938.000000,32938.000000,32938.000000,32938.000000,32938.000000,...,6313.000000,6.000000,6.0,6.000000,6313.000000,6313.000000,6313.000000,6.0,6.000000,2.0
mean,31563.654411,1.675087,61.744286,0.000980,0.549546,0.047240,0.042322,0.029844,0.071164,0.598184,...,0.385870,0.666667,18.0,3.666667,0.405037,0.324885,0.263741,0.0,0.666667,0.0
std,56237.353929,1.209645,9.714951,0.031284,0.497552,0.212156,0.201326,0.170159,0.257103,0.490272,...,0.741665,1.032796,0.0,5.680376,0.839205,0.707853,0.696937,0.0,1.032796,0.0
min,3000.000000,1.000000,26.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,18.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
25%,3417.000000,1.000000,55.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,18.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
50%,3904.000000,1.000000,62.900000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,18.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
75%,42014.000000,1.000000,68.900000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,1.000000,1.500000,18.0,8.250000,0.000000,0.000000,0.000000,0.0,1.500000,0.0
max,402314.000000,4.000000,89.700000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,4.000000,2.000000,18.0,11.000000,4.000000,4.000000,4.000000,0.0,2.000000,0.0

In [6]:
pd.set_option('display.max_rows', None) 

cleaned_df.isnull().sum()

Participant_ID        0
COHORT                0
ENROLL_DATE           0
ENROLL_AGE            0
ENRLPRKN          13542
ENRLSRDC          13542
ENRLHPSM              0
ENRLRBD               0
ENRLSNCA              0
ENRLGBA               0
SEX                   0
CHLDBEAR          19791
SAAMethod          9780
SAA_Status         9780
SAA_Type          30373
InstrumentRep1     9780
NUPSOURC              7
NP1COG                6
NP1HALL               6
NP1DPRS               6
NP1ANXS               6
NP1APAT               6
NP1DDS                6
NP1SLPN              33
NP1SLPD              33
NP1PAIN               6
NP1URIN               6
NP1CNST               6
NP1LTHD               6
NP1FATG               6
NP2SPCH               6
NP2SALV               7
NP2SWAL               7
NP2EAT                7
NP2DRES               7
NP2HYGN              25
NP2HWRT              25
NP2HOBB              25
NP2TURN               7
NP2TRMR               7
NP2RISE               7
NP2WALK               7
NP2FREZ               7
NP3SPCH              26
NP3FACXP             26
NP3RIGN              26
NP3RIGRU             26
NP3RIGLU             26
NP3RIGRL             42
NP3RIGLL             42
NP3FTAPR             26
NP3FTAPL             27
NP3HMOVR             26
NP3HMOVL             35
NP3PRSPR             26
NP3PRSPL             35
NP3TTAPR             34
NP3TTAPL             26
NP3LGAGR             26
NP3LGAGL             26
NP3RISNG             38
NP3GAIT              38
NP3FRZGT             26
NP3PSTBL             42
NP3POSTR             53
NP3BRADY             53
NP3PTRMR             53
NP3PTRML             54
NP3KTRMR             53
NP3KTRML             53
NP3RTARU             53
NP3RTALU             53
NP3RTARL             53
NP3RTALL             53
NP3RTALJ             53
NP3RTCON             53
DYSKPRES             54
DYSKIRAT          31471
NHY                  53
NP4WDYSK          26625
NP4WDYSKDEN       32932
NP4WDYSKNUM       32932
NP4WDYSKPCT       32932
NP4DYSKI          26625
NP4OFF            26625
NP4OFFDEN         32932
NP4OFFNUM         32932
NP4OFFPCT         32932
NP4FLCTI          26625
NP4FLCTX          26625
NP4DYSTN          26625
NP4DYSTNDEN       32932
NP4DYSTNNUM       32932
NP4DYSTNPCT       32936
dtype: int64

In [7]:
target_col = 'COHORT'
cleaned_df.drop(columns=['COHORT'], inplace=True)

In [8]:

# Total number of rows to calculate missing value percentages
total_rows = cleaned_df.shape[0]

threshold = 0.5
cols_to_drop = [col for col in cleaned_df.columns if cleaned_df[col].isnull().mean() > threshold]
df = cleaned_df.drop(columns=cols_to_drop)
print(f"Dropped columns with > 50% missing values: {cols_to_drop}")

Dropped columns with > 50% missing values: ['CHLDBEAR', 'SAA_Type', 'DYSKIRAT', 'NP4WDYSK', 'NP4WDYSKDEN', 'NP4WDYSKNUM', 'NP4WDYSKPCT', 'NP4DYSKI', 'NP4OFF', 'NP4OFFDEN', 'NP4OFFNUM', 'NP4OFFPCT', 'NP4FLCTI', 'NP4FLCTX', 'NP4DYSTN', 'NP4DYSTNDEN', 'NP4DYSTNNUM', 'NP4DYSTNPCT']

In [9]:
# Example: Setting a threshold of unique values to identify potential categorical columns
threshold = 7  # Define a threshold based on knowledge of the data
categorical_cols = [col for col in df.columns if df[col].nunique() < threshold]
print(categorical_cols)

['ENRLPRKN', 'ENRLSRDC', 'ENRLHPSM', 'ENRLRBD', 'ENRLSNCA', 'ENRLGBA', 'SEX', 'SAAMethod', 'SAA_Status', 'InstrumentRep1', 'NUPSOURC', 'NP1COG', 'NP1HALL', 'NP1DPRS', 'NP1ANXS', 'NP1APAT', 'NP1DDS', 'NP1SLPN', 'NP1SLPD', 'NP1PAIN', 'NP1URIN', 'NP1CNST', 'NP1LTHD', 'NP1FATG', 'NP2SPCH', 'NP2SALV', 'NP2SWAL', 'NP2EAT', 'NP2DRES', 'NP2HYGN', 'NP2HWRT', 'NP2HOBB', 'NP2TURN', 'NP2TRMR', 'NP2RISE', 'NP2WALK', 'NP2FREZ', 'NP3SPCH', 'NP3FACXP', 'NP3RIGN', 'NP3RIGRU', 'NP3RIGLU', 'NP3RIGRL', 'NP3RIGLL', 'NP3FTAPR', 'NP3FTAPL', 'NP3HMOVR', 'NP3HMOVL', 'NP3PRSPR', 'NP3PRSPL', 'NP3TTAPR', 'NP3TTAPL', 'NP3LGAGR', 'NP3LGAGL', 'NP3RISNG', 'NP3GAIT', 'NP3FRZGT', 'NP3PSTBL', 'NP3POSTR', 'NP3BRADY', 'NP3PTRMR', 'NP3PTRML', 'NP3KTRMR', 'NP3KTRML', 'NP3RTARU', 'NP3RTALU', 'NP3RTARL', 'NP3RTALL', 'NP3RTALJ', 'NP3RTCON', 'DYSKPRES']

In [10]:
for col in df.columns:
    unique_count = df[col].nunique()
    unique_values = df[col].unique()
    print(f"Column: {col}")
    print(f"  Number of unique values: {unique_count}")
    print(f"  Unique values: {unique_values}\n")

Column: Participant_ID
  Number of unique values: 3737
  Unique values: [  3000   3001   3002 ... 386466 388122 402314]

Column: ENROLL_DATE
  Number of unique values: 160
  Unique values: ['2011-02-01' '2011-03-01' '2011-04-01' '2011-05-01' '2011-06-01'
 '2011-07-01' '2011-11-01' '2011-12-01' '2012-02-01' '2012-04-01'
 '2012-05-01' '2012-06-01' '2012-09-01' '2012-11-01' '2013-01-01'
 '2013-03-01' '2013-04-01' '2010-10-01' '2010-12-01' '2011-08-01'
 '2011-09-01' '2012-03-01' '2012-07-01' '2012-10-01' '2012-12-01'
 '2012-08-01' '2010-11-01' '2012-01-01' '2013-05-01' '2011-01-01'
 '2011-10-01' '2013-02-01' '2010-07-01' '2010-08-01' '2010-09-01'
 '2019-05-01' '2019-06-01' '2019-07-01' '2019-08-01' '2019-10-01'
 '2019-11-01' '2020-01-01' '2020-02-01' '2014-09-01' '2013-10-01'
 '2014-08-01' '2014-02-01' '2014-11-01' '2014-04-01' '2013-12-01'
 '2014-06-01' '2014-10-01' '2015-01-01' '2015-03-01' '2016-04-01'
 '2017-12-01' '2015-08-01' '2015-10-01' '2014-03-01' '2014-05-01'
 '2015-06-01' '2017-06-01' '2017-07-01' '2017-08-01' '2017-10-01'
 '2017-11-01' '2018-05-01' '2014-12-01' '2019-02-01' '2019-03-01'
 '2019-01-01' '2014-01-01' '2014-07-01' '2015-05-01' '2016-05-01'
 '2015-02-01' '2016-12-01' '2015-04-01' '2016-06-01' '2015-11-01'
 '2015-12-01' '2018-02-01' '2018-04-01' '2016-02-01' '2015-07-01'
 '2015-09-01' '2016-11-01' '2016-08-01' '2016-01-01' '2016-10-01'
 '2016-09-01' '2018-12-01' '2016-07-01' '2017-01-01' '2017-04-01'
 '2017-03-01' '2018-03-01' '2017-05-01' '2018-09-01' '2016-03-01'
 '2018-06-01' '2018-01-01' '2018-07-01' '2017-02-01' '2018-08-01'
 '2017-09-01' '2018-11-01' '2013-09-01' '2013-07-01' '2013-11-01'
 '2018-10-01' '2019-04-01' '2020-10-01' '2021-01-01' '2020-12-01'
 '2021-03-01' '2021-02-01' '2023-03-01' '2022-10-01' '2022-06-01'
 '2022-11-01' '2021-05-01' '2022-03-01' '2022-09-01' '2023-11-01'
 '2022-08-01' '2021-04-01' '2021-06-01' '2022-07-01' '2021-08-01'
 '2023-06-01' '2021-07-01' '2021-11-01' '2021-10-01' '2023-05-01'
 '2021-09-01' '2021-12-01' '2022-12-01' '2022-01-01' '2023-01-01'
 '2023-09-01' '2022-05-01' '2022-02-01' '2023-08-01' '2023-12-01'
 '2024-04-01' '2023-02-01' '2024-10-01' '2024-03-01' '2024-02-01'
 '2022-04-01' '2024-01-01' '2023-10-01' '2024-07-01' '2023-07-01'
 '2024-05-01' '2023-04-01' '2024-08-01' '2024-06-01' '2024-09-01']

Column: ENROLL_AGE
  Number of unique values: 457
  Unique values: [69.1 65.1 67.6 56.7 59.4 57.5 64.5 81.9 83.7 47.  31.9 58.8 79.3 67.5
 60.6 74.  64.1 58.3 71.1 52.7 56.1 69.5 75.7 66.3 51.5 71.6 65.9 68.6
 68.8 55.7 60.  79.9 83.  53.2 61.  60.4 63.8 73.9 70.7 54.  71.5 47.2
 48.2 31.2 75.8 75.6 62.6 60.7 68.4 80.2 65.8 65.7 56.8 56.4 55.3 56.3
 67.9 50.1 63.6 72.  68.5 70.2 69.6 49.8 52.6 62.8 64.6 59.3 63.9 61.3
 65.  60.3 64.4 49.5 62.1 69.3 57.2 46.  64.2 49.1 56.  43.9 71.2 49.9
 38.5 57.4 73.3 69.9 79.8 44.8 61.1 58.9 63.1 57.  59.8 61.4 70.  62.3
 50.5 61.5 71.8 51.4 54.8 64.  59.1 54.6 82.3 55.6 31.  68.2 61.7 63.3
 78.7 52.1 69.8 73.5 67.8 57.9 33.5 50.7 67.1 73.  55.8 37.3 70.4 47.4
 42.8 60.1 70.5 60.8 54.7 57.8 39.4 81.3 69.  55.  63.4 47.8 62.2 68.3
 46.9 52.4 38.3 64.8 66.2 67.2 64.9 74.6 78.  77.3 74.7 53.5 70.8 66.6
 68.9 54.4 50.6 74.1 66.8 51.8 32.3 44.  48.9 72.3 67.  41.6 39.2 45.2
 40.2 71.4 70.6 70.1 53.7 48.  51.3 48.4 66.1 47.3 55.9 63.5 34.8 65.2
 39.3 40.6 37.2 67.4 39.7 69.4 58.4 65.4 53.1 61.6 81.8 53.8 54.5 51.
 57.1 59.6 74.3 53.9 48.1 75.5 51.7 64.3 66.  60.5 62.9 44.1 51.2 48.3
 66.9 55.4 76.9 49.  46.8 61.2 72.6 61.8 59.5 66.5 73.6 78.3 45.5 72.9
 71.  54.2 63.7 62.  64.7 42.3 70.3 75.4 39.8 65.5 59.  38.  49.4 40.5
 45.8 57.7 67.7 69.2 43.1 49.2 52.5 74.9 62.7 63.2 58.1 50.3 46.2 41.8
 77.5 32.2 53.6 53.3 68.  67.3 76.6 79.7 47.5 44.7 79.2 58.2 76.2 76.
 62.4 71.7 68.7 55.2 37.  53.  68.1 54.3 74.8 72.8 51.9 77.6 73.8 40.8
 56.2 59.2 73.2 62.5 52.9 77.  75.2 58.7 60.9 54.1 76.8 46.7 30.6 48.8
 61.9 71.3 41.5 78.8 69.7 43.2 36.6 82.7 56.9 80.5 72.5 59.9 42.2 51.6
 65.3 54.9 75.1 66.4 50.  49.6 52.8 48.7 46.6 72.7 45.9 66.7 77.2 70.9
 33.7 80.9 65.6 76.5 73.1 78.1 81.4 45.1 57.6 44.3 57.3 50.9 52.3 38.7
 52.  46.5 58.  85.2 56.5 72.2 81.  55.1 43.8 36.1 37.8 49.7 76.4 75.3
 78.6 43.  71.9 60.2 38.1 63.  50.4 74.5 42.1 46.1 35.1 29.7 59.7 26.4
 76.7 28.6 73.7 76.3 80.6 75.  58.5 84.3 56.6 78.9 81.7 77.9 52.2 84.7
 51.1 58.6 50.8 80.8 44.6 48.5 47.9 72.1 55.5 72.4 73.4 82.5 78.2 75.9
 40.4 79.1 81.1 36.3 82.4 43.7 30.7 77.7 83.9 77.8 46.3 85.3 29.3 77.1
 78.4 41.9 36.8 43.6 37.7 80.  49.3 86.2 85.9 80.3 78.5 84.6 84.5 79.4
 74.2 30.4 39.5 76.1 79.  82.2 85.7 80.1 87.4 44.2 82.  79.5 81.5 74.4
 80.7 81.6 53.4 83.2 35.  42.7 84.1 84.  79.6 77.4 47.6 82.6 80.4 35.5
 41.2 34.6 45.4 42.6 34.4 89.7 83.4 31.3 40.3]

Column: ENRLPRKN
  Number of unique values: 2
  Unique values: [ 0. nan  1.]

Column: ENRLSRDC
  Number of unique values: 2
  Unique values: [ 0.  1. nan]

Column: ENRLHPSM
  Number of unique values: 2
  Unique values: [0 1]

Column: ENRLRBD
  Number of unique values: 2
  Unique values: [0 1]

Column: ENRLSNCA
  Number of unique values: 2
  Unique values: [0 1]

Column: ENRLGBA
  Number of unique values: 2
  Unique values: [0 1]

Column: SEX
  Number of unique values: 2
  Unique values: [0 1]

Column: SAAMethod
  Number of unique values: 2
  Unique values: [nan 'Amprion-Alpha-synuclein-SAA' 'Amprion-24h alpha-synuclein-SAA']

Column: SAA_Status
  Number of unique values: 3
  Unique values: [nan 'Positive' 'Negative' 'Inconclusive']

Column: InstrumentRep1
  Number of unique values: 5
  Unique values: [nan  2.  4.  6.  9. 10.]

Column: NUPSOURC
  Number of unique values: 3
  Unique values: [ 1.  3. nan  2.]

Column: NP1COG
  Number of unique values: 5
  Unique values: [ 1.  0.  2.  3. nan  4.]

Column: NP1HALL
  Number of unique values: 4
  Unique values: [ 0.  1.  2. nan  3.]

Column: NP1DPRS
  Number of unique values: 5
  Unique values: [ 1.  0.  2.  3.  4. nan]

Column: NP1ANXS
  Number of unique values: 5
  Unique values: [ 1.  0.  2.  3.  4. nan]

Column: NP1APAT
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3.  4. nan]

Column: NP1DDS
  Number of unique values: 5
  Unique values: [  0.   1.   2.   3.  nan 101.]

Column: NP1SLPN
  Number of unique values: 5
  Unique values: [ 1.  0.  3.  2.  4. nan]

Column: NP1SLPD
  Number of unique values: 5
  Unique values: [ 2.  1.  0.  3.  4. nan]

Column: NP1PAIN
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3.  4. nan]

Column: NP1URIN
  Number of unique values: 5
  Unique values: [ 0.  4.  1.  3.  2. nan]

Column: NP1CNST
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3.  4. nan]

Column: NP1LTHD
  Number of unique values: 5
  Unique values: [ 0.  2.  1.  3. nan  4.]

Column: NP1FATG
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3.  4. nan]

Column: NP2SPCH
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3. nan  4.]

Column: NP2SALV
  Number of unique values: 5
  Unique values: [ 0.  2.  1.  3.  4. nan]

Column: NP2SWAL
  Number of unique values: 4
  Unique values: [ 0.  1.  2.  3. nan]

Column: NP2EAT
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3. nan  4.]

Column: NP2DRES
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3. nan  4.]

Column: NP2HYGN
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  4. nan  3.]

Column: NP2HWRT
  Number of unique values: 5
  Unique values: [ 0.  4.  1.  3.  2. nan]

Column: NP2HOBB
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3.  4. nan]

Column: NP2TURN
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3. nan  4.]

Column: NP2TRMR
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3.  4. nan]

Column: NP2RISE
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3.  4. nan]

Column: NP2WALK
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3.  4. nan]

Column: NP2FREZ
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3. nan  4.]

Column: NP3SPCH
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3. nan  4.]

Column: NP3FACXP
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3.  4. nan]

Column: NP3RIGN
  Number of unique values: 6
  Unique values: [  0.   1.   2.   3.  nan 101.   4.]

Column: NP3RIGRU
  Number of unique values: 5
  Unique values: [  0.   2.   1.   3.  nan 101.]

Column: NP3RIGLU
  Number of unique values: 6
  Unique values: [  0.   1.   2.   3.   4.  nan 101.]

Column: NP3RIGRL
  Number of unique values: 5
  Unique values: [  0.   1.   2.   3.  nan 101.]

Column: NP3RIGLL
  Number of unique values: 6
  Unique values: [  0.   1.   3.   2.   4.  nan 101.]

Column: NP3FTAPR
  Number of unique values: 6
  Unique values: [  0.   2.   1.   3.   4.  nan 101.]

Column: NP3FTAPL
  Number of unique values: 6
  Unique values: [  0.   2.   1.   3.   4.  nan 101.]

Column: NP3HMOVR
  Number of unique values: 6
  Unique values: [  0.   1.   2.   3.  nan 101.   4.]

Column: NP3HMOVL
  Number of unique values: 5
  Unique values: [  0.   2.   1.   3.  nan 101.]

Column: NP3PRSPR
  Number of unique values: 4
  Unique values: [ 0.  1.  2.  3. nan]

Column: NP3PRSPL
  Number of unique values: 6
  Unique values: [  1.   0.   2.   3.   4.  nan 101.]

Column: NP3TTAPR
  Number of unique values: 6
  Unique values: [  0.   1.   2.   3.   4.  nan 101.]

Column: NP3TTAPL
  Number of unique values: 6
  Unique values: [  1.   0.   2.   3.   4.  nan 101.]

Column: NP3LGAGR
  Number of unique values: 6
  Unique values: [  0.   1.   2.   3.   4.  nan 101.]

Column: NP3LGAGL
  Number of unique values: 6
  Unique values: [  1.   0.   2.   3.   4.  nan 101.]

Column: NP3RISNG
  Number of unique values: 6
  Unique values: [  0.   1.   2.   3.   4.  nan 101.]

Column: NP3GAIT
  Number of unique values: 6
  Unique values: [  0.   1.   2.   3.   4.  nan 101.]

Column: NP3FRZGT
  Number of unique values: 6
  Unique values: [  0.   1.   2.   3.  nan   4. 101.]

Column: NP3PSTBL
  Number of unique values: 6
  Unique values: [  0.   1.   3.   2.   4.  nan 101.]

Column: NP3POSTR
  Number of unique values: 6
  Unique values: [  1.   2.   0.   3.   4.  nan 101.]

Column: NP3BRADY
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3.  4. nan]

Column: NP3PTRMR
  Number of unique values: 5
  Unique values: [  0.   1.   2.   3.  nan 101.]

Column: NP3PTRML
  Number of unique values: 4
  Unique values: [ 0.  1.  2.  3. nan]

Column: NP3KTRMR
  Number of unique values: 5
  Unique values: [  0.   2.   1.  nan   3. 101.]

Column: NP3KTRML
  Number of unique values: 5
  Unique values: [  0.   1.   2.  nan   3. 101.]

Column: NP3RTARU
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3. nan  4.]

Column: NP3RTALU
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3. nan  4.]

Column: NP3RTARL
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3. nan  4.]

Column: NP3RTALL
  Number of unique values: 4
  Unique values: [ 0.  1.  2. nan  3.]

Column: NP3RTALJ
  Number of unique values: 5
  Unique values: [ 0.  1.  2.  3. nan  4.]

Column: NP3RTCON
  Number of unique values: 6
  Unique values: [  0.   3.   1.   4.   2.  nan 101.]

Column: DYSKPRES
  Number of unique values: 2
  Unique values: [ 0.  1. nan]

Column: NHY
  Number of unique values: 7
  Unique values: [  0.   1.   2.   3.   4.   5.  nan 101.]

In [11]:
# Separate categorical and numerical columns for different preprocessing steps
numerical_cols = [col for col in df.columns if (col not in categorical_cols and df[col].dtype in ['int64', 'float64'])]



# a. Handle Missing Values
# Impute minimal missing values (< 5%) with median for numerical and mode for categorical data
numerical_cols_minimal_missing = [col for col in numerical_cols if df[col].isnull().mean() < 0.05]
categorical_cols_minimal_missing = [col for col in categorical_cols if df[col].isnull().mean() < 0.05]

# Impute numerical columns with the median
for col in numerical_cols_minimal_missing:
    median_value = df[col].median()  # Calculate median
    df[col] = df[col].fillna(median_value)  # Impute missing values with the median

# Impute categorical columns with the mode
for col in categorical_cols_minimal_missing:
    mode_value = df[col].mode()[0]  # Calculate mode (mode() returns a series, so take the first value)
    df[col] = df[col].fillna(mode_value)  # Impute missing values with the mode

In [12]:
df.isnull().sum()

Participant_ID        0
ENROLL_DATE           0
ENROLL_AGE            0
ENRLPRKN          13542
ENRLSRDC          13542
ENRLHPSM              0
ENRLRBD               0
ENRLSNCA              0
ENRLGBA               0
SEX                   0
SAAMethod          9780
SAA_Status         9780
InstrumentRep1     9780
NUPSOURC              0
NP1COG                0
NP1HALL               0
NP1DPRS               0
NP1ANXS               0
NP1APAT               0
NP1DDS                0
NP1SLPN               0
NP1SLPD               0
NP1PAIN               0
NP1URIN               0
NP1CNST               0
NP1LTHD               0
NP1FATG               0
NP2SPCH               0
NP2SALV               0
NP2SWAL               0
NP2EAT                0
NP2DRES               0
NP2HYGN               0
NP2HWRT               0
NP2HOBB               0
NP2TURN               0
NP2TRMR               0
NP2RISE               0
NP2WALK               0
NP2FREZ               0
NP3SPCH               0
NP3FACXP              0
NP3RIGN               0
NP3RIGRU              0
NP3RIGLU              0
NP3RIGRL              0
NP3RIGLL              0
NP3FTAPR              0
NP3FTAPL              0
NP3HMOVR              0
NP3HMOVL              0
NP3PRSPR              0
NP3PRSPL              0
NP3TTAPR              0
NP3TTAPL              0
NP3LGAGR              0
NP3LGAGL              0
NP3RISNG              0
NP3GAIT               0
NP3FRZGT              0
NP3PSTBL              0
NP3POSTR              0
NP3BRADY              0
NP3PTRMR              0
NP3PTRML              0
NP3KTRMR              0
NP3KTRML              0
NP3RTARU              0
NP3RTALU              0
NP3RTARL              0
NP3RTALL              0
NP3RTALJ              0
NP3RTCON              0
DYSKPRES              0
NHY                   0
dtype: int64

In [13]:
# Drop columns with high correlation (> 90%)
correlation_matrix = df[numerical_cols].corr().abs()  # Calculate absolute correlation matrix
upper_triangle = correlation_matrix.where(
    ~np.triu(np.ones(correlation_matrix.shape), k=1).astype(bool)
)  # Get upper triangle of the correlation matrix
to_drop = [column for column in upper_triangle.columns if any(upper_triangle[column] > 0.90)]
print(to_drop)

['Participant_ID', 'ENROLL_AGE', 'NHY']

In [17]:

# Identify columns with 5-50% missing values
numerical_cols_knn_impute = [col for col in numerical_cols if 0.05 <= df[col].isnull().mean() <= 0.5]
categorical_cols_knn_impute = [col for col in categorical_cols if 0.05 <= df[col].isnull().mean() <= 0.5]

# Define the KNN imputer for both numerical and categorical columns
knn_imputer = KNNImputer(n_neighbors=5)

# Encoding and Scaling
one_hot_encoder = OneHotEncoder(drop='first', handle_unknown='ignore')
scaler = StandardScaler()
for col in ["SAAMethod", "SAA_Status"]:
    df[col] = LabelEncoder().fit_transform(df[col].astype(str))
# Apply transformations using ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('knn_impute_num', knn_imputer, numerical_cols_knn_impute),  # Apply KNN imputation to numerical columns with 5-50% missing values
        ('knn_impute_cat', knn_imputer, categorical_cols_knn_impute),  # Apply KNN imputation to categorical columns with 5-50% missing values
        ('one_hot', one_hot_encoder, categorical_cols),  # One-hot encode categorical features
        ('scaler', scaler, numerical_cols)  # Standardize numerical features
    ],
    remainder='drop'
)

# Build the preprocessing pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor)])

# Apply the preprocessing transformations to the dataset
df_preprocessed = pipeline.fit_transform(df)

# Print success message
print("Data preprocessing complete.")

Data preprocessing complete.